* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.carousel-container {
    position: relative;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-item {
    min-width: 100%;
    transition: 0.5s ease;
}

.carousel-item img {
    width: 100%;
    max-width: 500px; /* Define a largura máxima para as imagens */
    height: auto; /* Mantém a proporção da altura */
    margin: 0 auto; /* Centraliza as imagens */
    display: block;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

body {
   background-color: rgb(255, 206, 213);
    background-size: cover; /* Faz com que a imagem cubra todo o espaço */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita que a imagem se repita */
}

h1 {
    color: cornsilk;
    background-color: rgb(255, 151, 166);
    padding: 10px;
    text-align: center; /*centraliza o texto*/
}

h2 {
    color: darkslateblue;
    /*background-color:rgb(255, 164, 178);*/
    padding: 10px;
    text-align: center; /*centraliza o texto*/
}

p {
    color:darkslateblue;
    padding: 10px;
    text-align: center; /*centraliza o texto*/
    font-weight: bold;

}

footer {
    background-color:rgb(255, 151, 166);
    text-align: center;
    padding: 10px;
    font-weight: bold;
    color: cornsilk;
}

.menu-links a {
    margin-right: 50px;
    color:blueviolet;
    text-decoration: none;
    transition: color 0.3s ease;
}

.menu-links a:hover {
    color:cornflowerblue;
}
