* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.carousel-container {
    position: relative;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-item {
    min-width: 100%;
    transition: 0.8s ease;
}

.carousel-item img {
    width: 100%;
    max-width: 500px; /* Define a largura máxima para as imagens */
    height: auto; /* Mantém a proporção da altura */
    margin: 0 auto; /* Centraliza as imagens */
    display: block;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

body {
   background-color: rgb(255, 206, 213);
    background-size: cover; /* Faz com que a imagem cubra todo o espaço */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita que a imagem se repita */
}

h1 {
    color: cornsilk;
    background-color: rgb(255, 151, 166);
    padding: 10px;
    text-align: center; /*centraliza o texto*/
}

h2 {
    color: darkslateblue;
    /*background-color:rgb(255, 164, 178);*/
    padding: 10px;
    text-align: center; /*centraliza o texto*/
}

p {
    color:darkslateblue;
    padding: 10px;
    text-align: center; /*centraliza o texto*/
    font-weight: bold;

}

footer {
    background-color:rgb(255, 151, 166);
    text-align: center;
    padding: 10px;
    font-weight: bold;
    color: cornsilk;
}

.header-wrap {
    background-color:rgb(255, 151, 166) ; /* Cor de fundo do header */
    padding: 20px;
    text-align: center; /* Centraliza o conteúdo */
    border-bottom: 2px solid #ddd; /* Linha abaixo do header */
}

.header-wrap h1 {
    font-size: 2.5em; /* Tamanho da fonte do título */
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
}

.header-wrap h2 {
    font-size: 1.5em;
    margin: 5px 0;
}

.menu-links a {
    margin: 0 15px; /* Espaçamento entre os links */
    /*text-decoration: none;  Remove o sublinhado */
    color: darkslateblue; /* Cor do texto dos links */
}

.menu-links a:hover {
    color: #ff6347; /* Cor dos links ao passar o mouse */
}