@charset "UTF-8";

div#interface {
  background-color: #dbdbdb;
  margin: 0px -10px 0px -10px;
}

div#interface h1#nomeloja {
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  text-shadow: rgba(0, 0, 0, 0.6) 2px 2px 2px;
}

header#cabecalho {
  background-color: #551bb3;
  padding: 50px;
  margin: 0px -10px 0px -10px;
  text-align: center;
}

header#cabecalho h2 {
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  text-shadow: rgba(0, 0, 0, 0.6) 2px 2px 2px;
}

header#cabecalho img#logo {
  max-width: 180px;
  max-height: 240px;
  position: absolute;
  top: 0px;
  left: 10px;
  top: 10px;
}

nav#menu {
  background-color: #551bb3;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0px -10px 0px -10px;
  box-sizing: border-box;
}

nav#menu ul {
  display: flex;
  background-color: #551bb3;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0;
}

nav#menu li {
  display: flex;
  align-items: center;
  min-height: 48px;
  margin-left: 60px;
}

nav#menu a {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  display: inline;
  text-decoration: none;
  color: #a9f04d;
  padding: 10px 20px 10px 20px;
  margin: auto;
  background-color: #6e3ac2;
  font-weight: bolder;
  border-radius: 5px;
}

nav#menu a:hover {
  color: #268fbe;
  transition: 0.3s;
}

.descricao {
  text-align: start;
  text-align: start;
}

div#interface p {
  margin: 0px 10px 0px 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16pt;
  text-indent: 20pt;
  padding: 20pt;
}

div#interface h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 28pt;
  text-align: center;
  color: #268fbe;
}

div#interface h2 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  display: inline-block;
}

.item {
  display: grid;
  grid-template-rows: auto auto auto 1fr; /* Define as linhas */
  background-color: lightgray;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 10px;
  margin: 20px;
  }

.foto {
  max-width: 100%;
  min-width: 9%;
  border-radius: 5px;
 }

.preco {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14pt;
  display: grid;
  height: 10px;
  justify-self: end;
  margin-top: 10px;
  font-style: italic;
}

.comprar {
  align-self: end; /* Alinha o botão ao final da área da grid */
  justify-self: center; /* Centraliza horizontalmente */
  background: #a8f;
  color: #103;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  }

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

footer {
  background-color: #551bb3;
  padding: 10px;
  margin: 0px -10px 0px -10px;
  text-align: center;
}

footer p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #ffffff;
}

footer a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #a9f04d;
  text-decoration: none;
  font-weight: bolder;
}

footer a:hover {
  color: #268fbe;
  transition: 0.3s;
}
